.linkButton {
    white-space: nowrap;
    height: 36px;
    padding: 8px 16px;
    color: #8b8b8b;
    border-radius: 6px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: 1px solid rgb(229, 229, 229);
    font-weight: 700;
    background-color: white;
  }
  
  .linkButton:hover {
    color: white;
    background-color: #000000;
  }
