@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.checkout_btn {
    height: 58px;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(51, 153, 51, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .checkout_btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
