@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.banner {
  width: 100%;
  position: absolute;
  top: 128px;
}

.bannerText {
    position: relative;
    line-height: 110%;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    font-size: 96px;
    font-weight: 700;
    width: 1000px;
  }

.checkout_btn {
  position: relative;
  width: 218px;
  height: 58px;
  padding: 10px 20px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(51, 153, 51, 1);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.checkout_btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.categoriesContainer{
    display: flex;
    margin-top: 300px;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}

.categories {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 900;
    width: 360px;
    margin-right: 32px;
}

.categories_line{
    height: 1px;
    width: 832px;
    height: 1px;
    border: 1px solid rgb(229, 229, 229);
}

.all_categories{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(139, 139, 139, 1);
    font-size: 16px;
    width: 142px;
    height: 36px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
}

.categoriesImageContainer{
  height: 300px;
  background-color: aqua;
}