@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.linkButtonContainer {
  display: flex;
  align-items: center;
  max-width: 1360px;
  margin-left: 40px;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: rgb(40, 40, 40, 1);
  font-size: 64px;
  font-weight: 700;
  padding-right: 32px;
  
}
.grayLane {
  height: 1px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
